.container{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
h1{
  text-align: center;
}
input{
  width: 50%;
  padding: 12px;
  border-radius: 12px;
  border: 2px solid gray;
}
.list-group{
  display: flex;
  justify-content: center;
}
.button{
  height: 30px;
}
.para{
  width: 50%;
}
.button{
  background-color: blue;
  color: #ffffff;
  border-width: 0px;
  border-radius: 10px;
  height: 38px;
  width: 70px;
}

.into-button{
  border-radius: 10px;
  width: 40px;
  height: 26px;
}